@import 'src/styles/package';

.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 46px;
  padding: 0 10px;
  border-bottom: 1px solid $color-gray-150;
  margin-bottom: 10px;

  .title {
    font-size: 1.4rem;
    color: $color-gray-400;
  }
}
