@import 'src/styles/package';

.divider {
  $shadow-size: 2px;

  width: 100%;
  overflow-x: hidden;

  .bar {
    width: calc(100% + #{$shadow-size} * 2);
    height: 8px;
    background-color: $color-gray-100;
    box-shadow: 0px 1.5px $shadow-size inset $color-gray-150,
      0px -1px $shadow-size inset $color-gray-100;
    margin: 0 #{-$shadow-size};
  }
}
