@import 'src/styles/package';

.recommended-container {
  padding-top: 2rem;

  h2 {
    @include section-title();
    padding-left: 1rem;
    margin-bottom: 1.2rem;
  }

  button {
    @include flex-center();
    width: 100%;
    border: none;
    font-size: 1.2rem;
    border-top: 1px solid $color-gray-150;
    background-color: transparent;
    padding: 1.2rem 0;
    margin-top: 0.5rem;
    cursor: pointer;

    span {
      @include flex-center();
      color: $color-main;
      margin-right: 5px;
    }

    .title-icon {
      margin-right: 2px;
      font-size: 1.6rem;
    }
  }
}
