@import 'src/styles/package';

.main-category-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  .category-text-wrap {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    .category-time-text {
      color: #3c3c3c;
    }
    .Dividing-line {
      margin: 0px 5px;
      color: $color-gray-200;
    }
    .category-deadline-text {
      color: #d79b4f;
    }
  }
  .category-wrap {
    flex-wrap: wrap;
  }
}
