@import 'src/styles/package';

.preview-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
  .preview-header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin: 1rem 0;
    .preview-header-left {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      font-size: 1.5rem;

      .now-buy {
        font-size: 1.5rem;
      }
      .surprise-sale {
        color: $color-red;
      }
    }
    .preview-header-right {
      .more-view {
        margin-right: 5px;
        color: mediumaquamarine;
        font-size: 1.3rem;
      }
    }
  }

  .preview-body-section {
    display: flex;
    flex-direction: column;
    .preview-list-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      .active {
        border: 2px solid $color-red;
      }
      .product-small-item {
        width: 23%;
        box-sizing: content-box;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
