@import 'src/styles/package';

.preview-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 1rem 0.8rem 1rem;

  .preview-header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 1.2em;

    .preview-header-left {
      @include section-title();
      display: flex;
      flex-direction: row;
      align-items: baseline;

      .surprise-sale {
        color: $color-red;
      }
    }

    .preview-header-right {
      .more-link {
        @include more-link();
      }
    }
  }

  .preview-body-section {
    display: flex;
    flex-direction: column;

    .price {
      display: flex;
      gap: 8px;
    }

    .preview-list-wrap {
      $gap: 4px;

      display: flex;
      justify-content: space-between;
      margin-bottom: $gap;

      .product-small-item {
        padding-right: $gap;
        width: 25%;

        &:last-child {
          padding: 0;
        }

        img {
          width: 100%;
          height: 100%;
          border: 1px solid $color-gray-150;
          border-radius: 4px;
        }

        &.active {
          img {
            border-color: $color-red;
          }
        }
      }
    }
  }
}
