@import 'src/styles/package';

.detail-main-container {
  display: flex;
  flex-direction: column;

  .logo {
    width: 100%;
  }

  .contents {
    padding: 20px 10px;

    .product-info-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      margin: 1rem 0px;

      .left {
        display: flex;
        flex-direction: column;

        .main-title {
          font-size: 1.6em;
          margin-bottom: 1rem;
        }

        .price-wrap {
          display: flex;
          align-items: center;
          flex-direction: row;
          font-size: 1.6rem;

          .num {
            margin-right: 0.7rem;
          }

          .sale-percent {
            color: $color-red;
            font-weight: 600;
          }

          .original-price {
            color: $color-gray-400;
            text-decoration: line-through;
            font-size: 1.5rem;
          }

          .sale-price {
            font-weight: 600;
          }
        }
      }

      .favorite {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.8em;
        height: 3.8em;
        border-radius: 100%;
        border: 1px solid $color-gray-200;
        padding-top: 0.2em;
        position: absolute;
        right: 1rem;
        top: 0;

        .icon-wrapper {
          color: $color-pink;
          font-size: 2.8rem;
          margin-top: 0.2rem;
        }
      }
    }
  }
}

.detail-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

  .desc-text {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .desc-sub-text {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .product-image {
    width: 100%;
  }

  .words-wrap {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    text-align: center;
    font-size: 1.2rem;

    .words {
      padding: 5px;
      line-height: 1.4;
    }
  }
}

.order-buffer {
  height: 5.4rem;

  .order-btn {
    @include flex-center();
    position: fixed;
    bottom: 0;
    background-color: $color-white;
    width: 100%;
    padding: 0 0.5rem 1rem 0.5rem;
    cursor: pointer;

    .order-text {
      border-radius: 0.4rem;
      width: 100%;
      padding: 1.4rem;
      background-color: $color-main;
      color: $color-white;
      line-height: 1.6rem;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
    }
  }
}
