@import 'src/styles/package';

.detail-main-container {
  display: flex;
  flex-direction: column;

  .logo {
    width: 100%;
    // margin-bottom: 20px;
  }
  .contents {
    padding: 25px 10px;
    .product-info-wrap {
      display: flex;
      flex-direction: row;
      padding: 20px 0px;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        .title {
          font-size: 2rem;
          padding: 10px 0px;
        }
        .price-wrap {
          display: flex;
          flex-direction: row;
          font-size: 1.3rem;

          .num {
            margin-right: 10px;
          }

          .sale-percent {
            color: $color-red;
            font-weight: 600;
          }
          .original-price {
            color: $color-gray-400;
            text-decoration: line-through;
          }
          .sale-price {
            font-weight: 600;
          }
        }
      }
      .right {
        .favorite {
        }
      }
    }
  }
}

.detail-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  .desc-text {
  }
  .product-image {
    width: 100%;
  }
  .words {
    padding: 20px;
  }
}
