@import 'src/styles/package';

.category-buffer {
  height: 10rem;
}
.first-buffer {
  height: 3rem;
}

.category-preview-container {
  padding-bottom: 0.8rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 1.2rem;
  }

  h2 {
    @include section-title();
  }

  .more-link {
    @include more-link();
  }
}
