@import 'src/styles/package';

.category-buffer{
  height: 5rem;
}

.category-preview-container{
  .header{
    display: flex;
    justify-content: space-between;
    padding : 0 1rem;
  }
  h2{
    padding:0;
  }
  a{
    margin: 1rem 0;
    text-decoration: none;
    color : $color-main;
    font-weight : bold;
    font-size : 1.5rem
  }
}