@import 'src/styles/package';

.product {
  width: 100%;

  .icon-wrapper {
    cursor: pointer;
  }

  .image-wrapper {
    position: relative;
    margin-bottom: 6px;

    img {
      width: 100%;
      height: auto;
      border: 1px solid $color-gray-150;
      border-radius: 4px;
    }

    .icon-container {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 1em;
      width: 100%;
      padding: 0 1em;

      .icon-wrapper {
        @include flex-center();
        width: 3em;
        height: 3em;
        border-radius: 100%;
        background-color: unquote($color-black + '80');

        &.heart {
          padding-top: 0.2em;

          .icon {
            font-size: 2.1em;
            color: $color-pink;
          }
        }

        &.cart .icon {
          font-size: 1.8em;
          color: $color-main;

          * {
            stroke: $color-main;
          }
        }
      }
    }
  }

  .product-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 2px;

    .info-wrapper {
      .title {
        $line-height: 1.6em;

        font-size: 1.5em;
        line-height: $line-height;
        max-height: $line-height * 2;
        overflow: hidden;
        word-break: break-word;
        margin-bottom: 3px;
      }

      .price {
        margin-bottom: 8px;

        .origin-price-wrapper {
          display: flex;
          margin-bottom: 4px;

          .sale-percent {
            font-size: 1.2em;
            font-weight: 600;
            color: $color-red;
            margin-right: 4px;
          }

          .origin-price {
            font-size: 1.4em;
            color: $color-gray-200;
            text-decoration: line-through;
            margin-right: 2px;
          }
        }

        .display-price {
          font-size: 1.5em;
          font-weight: 600;
          color: $color-black;
        }
      }
    }
  }
}
