@import 'src/styles/package';

.order-button-wrapper {
  position: fixed;
  bottom: 0;
  background-color: $color-white;
  width: 100%;
  height: 4.8rem;
  padding: 0 1rem 0.5rem 1rem;

  .order-button {
    @include flex-center();
    border-radius: 0.4rem;
    width: 100%;
    height: 100%;
    background-color: $color-main;
    cursor: pointer;

    .count {
      @include flex-center();
      width: 2.1rem;
      height: 2.1rem;
      border-radius: 50%;
      background-color: $color-white;
      color: $color-main;
      font-size: 1.3rem;
      font-weight: 500;
      margin-right: 1rem;
    }

    .text {
      font-size: 1.5rem;
      font-weight: 500;
      color: $color-white;
    }
  }
}

.order-button-buffer {
  height: 4.8rem;
}
