@import 'src/styles/package';

a {
  text-decoration: none;
}

.login-btn-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  background-color: lightgray;
  border-radius: 1em;
  cursor: pointer;
  width: 100%;

  .login-text {
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .github {
    size: 2rem;
  }
  .facebook {
    color: #3b5998;
    size: 2rem;
  }
}
