@import 'src/styles/package';

a {
  text-decoration: none;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .login-btn-wrap {
    margin-top: 2rem;
    background-color: $color-main;
    cursor: pointer;

    .github {
      box-shadow: 0 6px 20px #00000070;
      border-radius: 0.4rem;
    }
  }

  .text {
    font-size: 1.1rem;
    margin-top: 1rem;
  }
}
