@import 'src/styles/package';

.carousel {
  position: relative;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  touch-action: auto;
  justify-content: center;
  .cur-number {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: $color-black;
    background-color: $color-gray-150;
    padding: 0.5rem 1.3rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .left-arrow-btn {
    position: absolute;
    left: 1rem;
    color: $color-white;
    font-size: 3rem;
  }

  .image-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    transform: translate(-100%);

    img {
      width: 100%;
    }
  }

  .right-arrow-btn {
    position: absolute;
    right: 1rem;
    color: $color-white;
    font-size: 3rem;
  }

  .dots {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    .num {
      padding: 2px 5px;
      border-radius: 10px;
      border: 1px solid black;
      margin-right: 10px;
      &:last-child {
        margin-right: 0px;
      }
    }
    .cur {
      background-color: mediumturquoise;
    }
  }
}
