@import 'src/styles/package';

.filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 46px;
  padding: 0 10px;
  border-bottom: 1px solid $color-gray-150;
  margin-bottom: 10px;

  .title-wrapper {
    display: flex;
    align-items: center;

    .title {
      font-size: 1.4rem;
      margin-right: 4px;
    }

    .down-arrow-icon {
      font-size: 1.6rem;
    }
  }

  .filter-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: unquote($color-gray-800 + '80');
    z-index: 1000;

    &.hidden {
      .filter-container {
        bottom: -100%;
      }
    }

    .filter-container {
      position: absolute;
      bottom: 0;
      transition: ease 0.2s;
      background-color: $color-white;
      border-radius: 10px 10px 0 0;
      width: 100%;

      .header {
        display: flex;
        justify-content: center;
        padding: 12px 0;
        border-bottom: 1px solid $color-gray-150;
        font-size: 1.2rem;
        color: $color-black;

        .close-btn {
          position: absolute;
          right: 12px;
          font-size: 1.2rem;
          color: $color-gray-500;
          cursor: pointer;
        }
      }

      .condition-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 16px 12px;

        .title {
          font-size: 1.5rem;
          cursor: pointer;
        }

        .check-icon {
          font-size: 1.5rem;
          display: none;
        }

        &.active {
          .title {
            color: $color-pink;
          }

          .check-icon {
            color: $color-pink;
            display: block;
          }
        }

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
