@import 'src/styles/package';

#category-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  .special-wrap {
    .special-title {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 5px;
      background: linear-gradient(to top, $color-underline 50%, transparent 50%);
    }
    .main-category-list {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      .main-title {
        padding: 10px;
        border-radius: 2px;
        border: 1px solid $color-gray-150;
        font-size: 1.3rem;
      }
    }
  }
}
