@import 'src/styles/package';

#category-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  overflow: scroll;
  .special-wrap {
    .special-title-wrap {
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      margin-top: 1.5rem;

      .special-title {
        display: inline-block;
        font-size: 2rem;
        font-weight: 500;
        padding: 5px;
        background: linear-gradient(to top, $color-underline 50%, transparent 50%);
      }
    }
    .main-category-wrap {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      $border: 1px solid $color-gray-150;
      border-top: $border;

      .title {
        padding: 15px;
        font-size: 1.4rem;
        height: 50px;

        &:nth-child(even),
        &:nth-child(odd) {
          &:last-of-type {
            border-bottom: $border;
            border-right: $border;
          }
        }
      }
      .clicked {
        background-color: $color-gray-150;
        font-weight: 600;
      }
      .unclicked {
        background-color: $color-white;
        font-weight: 0;
      }
    }
  }
}
