@import 'src/styles/package';

.slick-carousel {
  width: 100%;
  .images {
    img {
      width: 100%;
    }
  }
  .slick-slider {
    .slick-dots {
      bottom: 0px;
    }
  }

  .slick-next {
    right: 0;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .current-slide-number {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
