@import 'src/styles/package';

.common-info-wrap {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;

  .info-wrap {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;

    .title {
      font-weight: 500;
      margin-right: 10px;
      width: 20%;
    }

    .del-info {
      padding: 4px 0px;
    }

    .text-wrap {
      .speed-delivery-text-wrap {
        margin-bottom: 10px;

        .speed-delivery-title {
          color: #236afa;
          font-weight: 500;
          background-color: #b4f6fe;
          border-radius: 2rem;
          padding: 0.8rem 1.2rem;
          margin: 0 -0.8rem;
        }
      }

      .time-info-wrap {
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        font-weight: 500;

        .time-text {
          color: #3c3c3c;
        }

        .Dividing-line {
          margin: 0px 5px;
          color: #d2d2d2;
        }

        .category-deadline-text {
          color: #d79b4f;
        }
      }
    }
  }
}
