@import 'src/styles/package';

.category-header {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: $height-header;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-150;

  &.sticky {
    position: sticky;
    top: $height-header;
    z-index: 100;
  }

  a {
    text-decoration: none;
    margin: 0 2rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    color: $color-gray-200;

    &.active {
      background-color: $color-main;
      border-radius: 1.8rem;
      color: $color-white;
    }
  }
}
.category-header::-webkit-scrollbar {
  display: none;
}
