@import 'src/styles/package';

.product-slide {
  $side-padding: 1rem;

  width: 100%;
  padding: 2rem 0 0.8rem 0;

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(2px + #{$side-padding});
    margin-bottom: 1.2rem;

    .title {
      @include section-title();
    }

    .more-link {
      @include more-link();
    }
  }

  .slider-wrapper {
    $column-num: 3;
    $resize-buffer: 2.5;

    overflow-x: scroll;

    display: flex;
    font-size: ($resize-buffer / $column-num) * 1rem;
    padding-left: $side-padding;

    .product {
      min-width: calc(100% / #{$column-num});
      max-width: calc(100% / #{$column-num});
      margin-right: $side-padding;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .buffer {
      min-width: $side-padding;
    }
  }
}
