@import 'src/styles/package';

.cart-item {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid $color-gray-150;

  &:last-of-type {
    border-bottom: 0;
  }

  .item-title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.04rem;
    margin-bottom: 1rem;
  }

  .product-wrapper {
    .checkbox-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      .title-wrapper {
        display: flex;
        align-items: center;

        label {
          .checkbox-icon {
            font-size: 2.6rem;
            margin-top: 0.3rem;
            color: $color-gray-200;

            &.checked {
              color: $color-main;
            }
          }
        }

        .product-title {
          font-size: 1.6rem;
          line-height: 2.5rem;
          max-width: 25rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .remove-btn {
        font-size: 1.5rem;
        color: $color-main;
        cursor: pointer;
      }
    }

    .info-row {
      display: flex;

      .product-link {
        width: 35%;
        margin-right: 1.2rem;

        .product-img {
          width: 100%;
          border: 1px solid $color-gray-150;
          border-radius: 0.4rem;
        }
      }

      .info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.3rem 0;

        .price-wrapper {
          .origin-price {
            font-size: 1.4rem;
            color: $color-gray-600;
            margin-bottom: 0.7rem;
          }

          .sale-wrapper {
            display: flex;

            .origin-total-price {
              color: $color-gray-600;
              font-size: 1.3rem;
              text-decoration-line: line-through;
              margin-right: 0.5rem;
            }

            .sale-price {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
        }

        .count-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid $color-gray-200;
          border-radius: 2rem;
          width: fit-content;
          padding: 0.5rem 0.8rem;

          .count {
            font-size: 1.3rem;
            padding: 0 1.5rem;
          }

          .count-btn {
            color: $color-gray-600;
            font-size: 1.8rem;

            &.active {
              color: $color-black;
            }
          }
        }
      }
    }
  }
}
