@import 'src/styles/package';

#detail-page {
  .back-btn {
    position: fixed;
    z-index: 800;
    width: 100%;
    height: $height-header;
    background-color: #ffffff;
    padding: 0 12px;
    display: flex;
    align-items: center;
    .icon {
      font-size: 2rem;
      font-weight: 500;
    }
  }
  .buffer {
    height: $height-buffer;
    .order-btn {
      position: fixed;
      width: 100%;
      padding: 5px;
      bottom: 0;
      display: block;
      text-align: center;
      background-color: $color-white;
      .order-text {
        font-size: 1.5rem;
        font-weight: 600;
        background-color: #0fd4e4;
        border-radius: 5px;
        color: $color-white;
        padding: 10px;
      }
    }
  }
}
