@import 'src/styles/package';

.cart-summary {
  padding: 2rem 1rem;

  .price-info {
    margin-bottom: 2.5rem;

    .info-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      .price-wrapper {
        display: flex;
        align-items: center;

        .origin-price {
          color: $color-gray-200;
          text-decoration-line: line-through;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .event-info {
    @include flex-center(column);
    color: $color-gray-600;

    p {
      margin: 0.3rem;
    }
  }
}
