@import 'src/styles/package';

#main-page {
  .header-logo {
    height: 2.3rem;
  }

  .cart-float-button-wrapper {
    .buffer {
      height: 0;
    }
  }
  .recommend-container {
    height: 10rem;
    padding-top: 3rem;
    font-size: 3rem;
    text-align: center;
  }
}

.scroll-top {
  touch-action: pan-down;
}

.menu {
  position: relative;
  animation: random ease 3s;
}

@keyframes random {
  0% {
    top: 100%;
    opacity: 0.2;
  }

  100% {
    top: 0%;
    opacity: 1;
  }
}
