@import 'src/styles/package';

#main-page {
  .header-logo {
    height: 2.3rem;
  }

  .cart-float-button-wrapper {
    .buffer {
      height: 0;
    }
  }
  .recommend-container {
    height: 10rem;
    padding-top: 3rem;
    font-size: 3rem;
    text-align: center;
  }
}
