@import 'src/styles/package';
@import 'src/styles/package';

.search-page {
  #header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    position: fixed;
    z-index: 800;
    width: 100%;
    height: $height-header;
    background-color: $color-white;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 500;

    .icon {
      font-size: 1.8rem;
      cursor: pointer;
    }

    .left-side {
      .back-btn {
        font-size: 2rem;
      }
    }

    .center-side {
      display: flex;
      justify-content: center;
      input[type='text'] {
        width: 100%;
        border: none;
        user-select: none;
        outline: none;
      }
    }

    .right-side {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-btn {
        font-size: 2.2rem;
        margin-left: 10px;
      }
    }
  }

  #header-buffer {
    height: $height-header;
  }

  .result-list {
    li {
      padding: 1.7rem 0;
      padding-left: 2rem;
      border-bottom: 1px solid $color-gray-400;
    }
  }

  h3 {
    font-size: 1.5rem;
    padding-left: 0.6rem;
    font-weight: bold;
    margin-top: 4rem;
  }

  .record-list {
    li {
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      font-weight: 500;
      span {
        width: 90%;
      }
      .close-button {
        font-size: 2rem;
      }
    }
  }

  .delete-all-button {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    input[type='button'] {
      background-color: transparent;
      border-radius: 20px;
      border-color: $color-gray-200;
      padding: 0.5rem;
    }
  }
}
