@import 'src/styles/package';

.category-item {
  width: 100%;
  padding-bottom: 1rem;

  img {
    width: 100%;
  }

  > .title {
    @include font-family($font-jua);
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    word-break: keep-all;
    padding: 0 0.3rem;
  }
}
