@import 'src/styles/package';

.login-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-main;

  .login-wrapper {
    @include flex-center(column);

    .logo {
      width: 12rem;
      margin-bottom: 10px;
      filter: invert(10) brightness(10);
    }

    article {
      p {
        @include font-family($font-jua);
        font-size: 2em;
        text-align: center;
        color: $color-white;
        letter-spacing: 0.02rem;
        line-height: 2.2rem;
        font-weight: 300;
      }
    }
  }
}
