@import 'src/styles/package';

#search-header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  position: fixed;
  z-index: 800;
  width: 100%;
  height: $height-header;
  background-color: $color-white;
  padding: 0 12px;
  font-size: 1.4rem;
  font-weight: 500;

  .icon {
    font-size: 1.8rem;
    cursor: pointer;
  }

  .left-side {
    .back-btn {
      font-size: 2rem;
    }
  }

  .center-side {
    display: flex;
    justify-content: center;
    input[type='text'] {
      width: 100%;
      border: none;
      user-select: none;
      outline: none;
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-btn {
      font-size: 2.2rem;
      margin-left: 10px;
    }
  }
}
