/* colors */
$color-white: #ffffff;
$color-gray-50: #fcfcfc;
$color-gray-100: #f9f9f9;
$color-gray-150: #eeeeee;
$color-gray-200: #d6d6d6;
$color-gray-400: #a8a8a8;
$color-gray-500: #8a8a8a;
$color-gray-600: #787878;
$color-gray-800: #4a4a4a;
$color-black: #1f1f1f;

$color-main: #2ac1bc;
$color-pink: #fe9c8f;
$color-beige: #ffe3d0;
$color-red: #ff5555;
$color-blue: #5555ff;

/* sizes */
$mobile-max-width: 800px;
$height-nav: 48px; //FIXME

/* fonts */
$font-desktop-size: 10px;
$font-base-size: 12px;
$font-main: 'Noto Sans KR';
$font-hanna: 'Hanna';
$font-hanna-pro: 'BMHANNAPro';
$font-hanna-air: 'BMHANNAPro';
$font-jua: 'BMJUA';
$font-dohyeon: 'BMDOHYEON';
