@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font-family($font: $font-main) {
  @if $font == $font-main {
    font-family: $font-main, sans-serif;
  } @else {
    font-family: $font, $font-main, sans-serif;
  }
}
