@import 'package';

html {
  font-size: $font-base-size;

  @media (max-width: $mobile-max-width) {
    font-size: $font-desktop-size;
  }

  * {
    @include font-family();
  }
}

.hidden {
  visibility: hidden !important;
}

.dp-none {
  display: none !important;
}

.stop-scroll {
  height: 100vh;
  overflow-y: hidden;
}

#app {
  max-width: $mobile-max-width;
  margin: 0 auto;
}
