@import 'package';

html {
  font-size: $font-base-size;

  @media (max-width: $mobile-max-width) {
    font-size: $font-desktop-size;
  }

  * {
    @include font-family();
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
    outline: none;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.hidden {
  visibility: hidden !important;
}

.dp-none {
  display: none !important;
}

.stop-scroll {
  height: 100vh;
  overflow-y: hidden;
}

#app {
  max-width: $mobile-max-width;
  margin: 0 auto;
}
